# Maven
target/
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# Environment
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# IntelliJ
.idea
*.iml
*.ipr
*.iws

# Eclipse / STS
.project
.classpath
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Java
*.class

# H2 database (caso use file futuramente)
*.mv.db
*.trace.db

# Misc
*.swp